@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
        <img src="~/Images/ordersuccess.png" />
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is :@Model
    </div>
</div>
<h1>@ViewData["Title"]</h1>
<div id="loading"></div>


<p class="page">Use this page to detail your site's privacy policy.</p>


<script>
    function onReady(callback) {
        var intervalId = window.setInterval(function () {
            if (document.getElementsByTagName('body')[0] !== undefined) {
                window.clearInterval(intervalId);
                callback.call(this);
            }
        }, 1000);
    }

    function setVisible(selector, visible) {
        document.querySelector(selector).style.display = visible ? 'block' : 'none';
    }

    onReady(function () {
        setVisible('.page', true);
        setVisible('#loading', false);
    });
</script>

<style>
    /* body {
            background: #FFF url("https://i.imgur.com/KheAuef.png") top left repeat-x;
            font-family: 'Alex Brush', cursive !important;
        }*/


    #loading {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: rgba(192, 192, 192, 0.5); /*        background-image: url("https://i.stack.imgur.com/MnyxU.gif");

    */
        background-image: url("https://media.giphy.com/media/3ohzdOrcdpiD26TPt6/giphy.gif");
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

