@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark"><img src="https://img.icons8.com/external-anggara-flat-anggara-putra/32/undefined/external-logout-ecommerce-anggara-flat-anggara-putra.png" /></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-dark border-0" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">

        <a class="btn btn-outline-dark  border-0" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
